<header id="menu">
    <div>
        <ul>
            <li><a href="/"> Home </a></li>
            <li> | </li>
            <li><a href="/about"> About </a></li>
             <li> | </li>
            <li><a href="/projects"> My Earlier Projects </a></li>
             <li> | </li>
                 <li><a href="/skills"> Skills </a></li>
             <li> | </li>
            <li><a href="/contact"> Contact </a></li>
        </ul>
    </div>
</header>
