<div id="main">
    <div>
        <h1>Contact Information</h1>
    </div>
    <div class="text-box">
        <li>Email: jannahakkarainen@hotmail.com </li>
        <li>Phone: 07 07 07 07 07 </li>
        <li>Address: Von Platensgatan 3, 55313 Jönköping </li>
        <li> <a style="color: #ca995d;" href="https://se.linkedin.com/in/janna-hakkarainen-992617251" target="_blank">LinkedIn</a>
 </li>
    </div>
    </div>