<div id="main">
    <div>
        <h1>Welcome</h1>
        <div class="text2">
            Hello and welcome to my portfolio! <br />
            If i can suggest a place to start, I would pick the page with more information <a style="color: #a78255;" href="/about"> about me</a>.</p>
        </div>
    </div>
</div>
